a{
    text-decoration: none;
}

.main{
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.catalog{
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.contacts{
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.main_h1{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.catalog_h1{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.contacts_h1{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.main_p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.contacts_p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.catalog_p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}